<style>
  .swal2-container {
    z-index: 99999999!important;
  }
    </style>

  <p-dialog [modal]="true" appendTo ="body" header=" {{this.type==1?'Registrar ':(this.type==2?'Modificar ':'Consultar ')}}subregion" [(visible)]="this.ver"
    [style]="{width: '50vw'}" [maximizable]="true">

    <div class="formgrid grid">
      <div class="field md:col-2">
          <label for="firstname2">Codigo:</label>
          <p-inputNumber [useGrouping]="false" styleClass="w-full" class="w-full" inputStyleClass="w-full" [disabled]="this.type==3" [ngModelOptions]="{standalone: true}" [(ngModel)]="this.obj.codigo"> </p-inputNumber>

      </div>
      <div class="field md:col-8">
        <label for="firstname2">Nombre:</label>
        <input [disabled]="type==3" pInputText id="username" [ngModelOptions]="{standalone: true}" [(ngModel)]="this.obj.nombre" class="w-full" />
    </div>
      <div class="field md:col-2">
          <label for="lastname2">Estado: </label><br>
          <p-inputSwitch [disabled]="this.type==3" [(ngModel)]="this.obj.activo"></p-inputSwitch>
      </div>
      <div class="field md:col-12">
        <label for="lastname2">Region: </label><br>
        <select class="w-full text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary" style="appearance: auto"  [disabled]="type==3"   name="" id="" [ngModelOptions]="{standalone: true}"
        [(ngModel)]="this.obj.key_region">
        <option value="">Elegir region</option>
        <option *ngFor="let d of this.list_region" value="{{d.key}}">{{d.codigo}} | {{d.nombre}}</option>
      </select>
    </div>
  </div>




    <ng-template pTemplate="footer">
      <p-button *ngIf="this.type==1" (click)="guardar()" label="Guardar" icon="fa-solid fa-save"
        severity="success"></p-button>
      <p-button *ngIf="this.type==2" (click)="modificar()" label="Modificar" icon="fa-solid fa-save"
        severity="success"></p-button>
      <p-button (click)="ocultar()" label="Cancelar" icon="fa-solid fa-xmark" severity="danger"></p-button>
    </ng-template>
  </p-dialog>


