

<!-- sm:col-12 md:col-6 lg:col-6 xl:col-6 -->
<p-dialog  *ngIf="type_content==1" [modal]="true"  appendTo ="body" header=" {{this.type==1?'Registrar ':(this.type==2?'Modificar ':'Consultar ')}}persona" [(visible)]="this.ver"
  [style]="{width: '60vw'}" [maximizable]="true">
  <div class="formgrid grid">
    <div class="field md:col-6">
        <label for="firstname2">Nombres:</label>
        <input class="m-width" [disabled]="type==3" pInputText id="username" [ngModelOptions]="{standalone: true}" [(ngModel)]="this.obj.name" class="w-full" />

    </div>
    <div class="field md:col-6">
        <label for="lastname2">Apellidos:</label>
        <input [disabled]="type==3" pInputText id="username" [ngModelOptions]="{standalone: true}" [(ngModel)]="this.obj.lastname" class="w-full" />
    </div>
</div>

<div class="formgrid grid">
  <div class="field md:col-6" >
      <label for="firstname2">Celular:</label>
      <p-inputNumber [useGrouping]="false" styleClass="w-full" class="w-full" inputStyleClass="w-full" [disabled]="type==3" inputId="integeronly" [(ngModel)]="this.obj.phoneNumber"> </p-inputNumber>

  </div>

  <div class="field md:col-6">
    <label for="state">Rol</label>
    <select class="w-full text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary" style="appearance: auto"  [disabled]="type==3"   name="" id="" [ngModelOptions]="{standalone: true}"
      [(ngModel)]="this.obj.role">
      <option value="">Elegir Rol</option>
      <option *ngFor="let d of this.roles" value="{{d.data().nombre}}">{{d.data().nombre}}</option>
    </select>
</div>
</div>

  <div class="grid">
  <div class="col">
    <p-checkbox [disabled]="type==3" label="Registro web?" [binary]="true" [(ngModel)]="this.obj.registerWeb"></p-checkbox>
  </div>
  <div class="col">
    <p-checkbox [disabled]="type==3" label="Registro movil?" [binary]="true"  [(ngModel)]="this.obj.registerMobile"></p-checkbox>
  </div>
  <div class="col">
    <p-checkbox [disabled]="type==3" label="Valido?" [binary]="true"  [(ngModel)]="this.obj.validate"></p-checkbox>
  </div>
</div>


  <!-- } FIN A   -->



  <ng-template pTemplate="footer">
    <p-button *ngIf="type!=3"  class="mr-2" (click)="save()" label="Guardar" icon="fa-solid fa-floppy-disk" severity="success"></p-button>
      <p-button (click)="ocultar()" label="Cancelar" icon="fa-solid fa-xmark" severity="danger"></p-button>
  </ng-template>
</p-dialog>



<div *ngIf="type_content==2">
    <!-- B={   -->
      <div class="formgrid grid">
        <div class="field md:col-6">
            <label for="firstname2">Nombres:</label>
            <input class="m-width" [disabled]="type==3" pInputText id="username" [ngModelOptions]="{standalone: true}" [(ngModel)]="this.obj.name" class="w-full" />

        </div>
        <div class="field md:col-6">
            <label for="lastname2">Apellidos:</label>
            <input [disabled]="type==3" pInputText id="username" [ngModelOptions]="{standalone: true}" [(ngModel)]="this.obj.lastname" class="w-full" />
        </div>
    </div>

    <div class="formgrid grid">
      <div class="field md:col-6" >
          <label for="firstname2">Celular:</label>
          <p-inputNumber [useGrouping]="false" styleClass="w-full" class="w-full" inputStyleClass="w-full" [disabled]="type==3" inputId="integeronly" [(ngModel)]="this.obj.phoneNumber"> </p-inputNumber>

      </div>

      <div class="field md:col-6">
        <label for="state">Rol</label>
        <select class="w-full text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary" style="appearance: auto"  [disabled]="type==3"   name="" id="" [ngModelOptions]="{standalone: true}"
          [(ngModel)]="this.obj.role">
          <option value="">Elegir Rol</option>
          <option *ngFor="let d of this.roles" value="{{d.data().nombre}}">{{d.data().nombre}}</option>
        </select>
    </div>
    </div>

      <div class="grid ">
      <div class="col">
        <p-checkbox [disabled]="false" label="Registro web?" [binary]="true" [(ngModel)]="this.obj.registerWeb"></p-checkbox>
      </div>
      <div class="col">
        <p-checkbox [disabled]="true" label="Registro movil?" [binary]="true"  [(ngModel)]="this.obj.registerMobile"></p-checkbox>
      </div>
      <div class="col">
        <p-checkbox [disabled]="type==3" label="Valido?" [binary]="true"  [(ngModel)]="this.obj.validate"></p-checkbox>
      </div>
    </div>


  <!-- } FIN  B   -->



</div>
