.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #FFFFFF; /* Soft background color */
}

.login-card {
  background: #FFFFFF;
  padding: 2.5rem;
  width: 340px; /* Slightly larger to accommodate larger font size */
  text-align: center;
  font-family: Poppins;
}

.title{
  color: #000;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.sub-title{
  font-family: Poppins;
  color: #000;

  font-size: 22px;
  font-style: normal;
  font-weight: 900;
  line-height: 36px;
}
.logo {
  width: 120px; /* Adjust as needed */
  margin-bottom: 2rem; /* More space below logo */
}

.form-group {
  margin-bottom: 2rem; /* Increase space between input fields */
}

label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;

  font-family: Poppins;

  /* Cambiar al color de fondo de cabecera deseado */
  color: #979797;
  /* Cambiar al color del texto deseado */
  font-weight: bold;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
input[type="tel"],
input[type="text"] {
  width: 298px;
  font-family: Poppins;
  padding: 10px 20px;
  font-size: 14px;
  border-color: rgb(25, 25, 29);
  border-radius: var(--radius-minimal, 4px);
  border: 1px solid #1e1e1e;
  margin-top: 0.5rem;
  color: #979797;
outline: none; /* Larger font size for readability */
text-align: center;
box-shadow: 0 4px 4px 0 rgba(0,0,0,.25);
background-color: #fff;
}

button {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 5px;
  background: linear-gradient(102.81deg, #ffdd31, #f3900d);
  color: #000;
  cursor: pointer;
  font-size: 1rem; /* Larger font size for readability */
  transition: background-color 1s ease; /* Smooth transition for hover effect */
  margin-top: 50px;
  font-weight: 600;
}

button:hover {
  background: linear-gradient(102.81deg, #f3900d, #ffdd31);
  transition: background-color 1s ease; /* Smooth transition for hover effect */
}


/* Media queries for responsiveness */
@media (max-width: 768px) {
  .login-card {
    width: 70%; /* Full width on smaller screens */
  }
  input[type="text"],
input[type="password"] {
  width: 85%;
}

}
