.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f4f8; /* Soft background color */
}

.login-card {
  background: #FFFFFF;
  padding: 2.5rem;
  border-radius: 20px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.15);
  width: 340px; /* Slightly larger to accommodate larger font size */
  text-align: center;
  font-family: Poppins;
}

.title{
  color: #000;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.sub-title{
  color: #4D4C4C;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
  padding: 20px;
}
.logo {
  width: 120px; /* Adjust as needed */
  margin-bottom: 2rem; /* More space below logo */
}

.form-group {
  margin-bottom: 2rem; /* Increase space between input fields */
}

label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #FFF;

  font-family: Poppins;

  /* Cambiar al color de fondo de cabecera deseado */
  color: #808080;
  /* Cambiar al color del texto deseado */
  font-weight: bold;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;


}
input[type="tel"],
input[type="text"] {
  width: 298px;
  font-family: Poppins;
  padding: 10px 20px;
  font-size: 14px;
  border: 1px solid #dcdfe6; /* Subtle border color */
  border-radius: 8px; /* Match button border-radius */
  margin-top: 0.5rem;
outline: none; /* Larger font size for readability */
text-align: center;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

button {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 5px;
  background: #000; /* More vivid button color */
  color: #fdb600;
  cursor: pointer;
  font-size: 1rem; /* Larger font size for readability */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  margin-top: 50px;
  font-weight: 400;
}

button:hover {
  background-color: #3b382f; /* Darker shade on hover */
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .login-card {
    width: 70%; /* Full width on smaller screens */
  }
  input[type="text"],
input[type="password"] {
  width: 85%;
}

}
