
<div class="home-container">
  <app-sidebar></app-sidebar>
  <div class="main-content">
    <!-- Contenido principal de tu página aquí -->
    <div class="content">
      <button (click)="signInWithMicrosoft()">Iniciar sesión con Microsoft</button>

      <div>
        <label for="phone">Número de Teléfono:</label>
        <input type="tel" id="phone" [(ngModel)]="phoneNumber">
      </div>
      <div id="recaptcha-container"></div>
      <button (click)="sendVerificationCode()">Enviar Código</button>

      <div *ngIf="confirmationResult">
        <label for="verificationCode">Código de Verificación:</label>
        <input type="text" id="verificationCode" [(ngModel)]="verificationCode">
        <button (click)="verifyCode()">Verificar Código</button>
      </div>

    </div>
    </div>
</div>

