/* home.component.css */

.home-container {
  display: flex;
  flex-direction: row;
  height: 100vh; /* Ajusta la altura de la pantalla */

}
.content{
  margin: 0 auto;
  padding: 30px;
  background-color: #252526 !important;
  width: auto;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 1.2);
  margin-top: 40px;
  height: 80vh;
  border-radius: 70px;
  color: aliceblue;
}
.main-content {
  flex: 1;
padding: 10px;
 }
