<div class="loading_test" id="loading_test" style="display:none">
  <div class="three col">
    <div class="loader_test_2" id="loader-2">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div>

<div *ngIf="bandera">
  <div class="home-container">
    <app-sidebar></app-sidebar>
    <div class="main-content">
      <!-- Contenido principal de tu página aquí -->
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!bandera">
  <router-outlet></router-outlet>
</div>
