<style>
.swal2-container {
  z-index: 99999999!important;
}
  </style>

<p-dialog [modal]="true" appendTo ="body" header=" {{this.type==1?'Registrar ':(this.type==2?'Modificar ':'Consultar ')}}proveedor" [(visible)]="this.ver"
  [style]="{width: '50vw'}" [maximizable]="true">

  <div class="formgrid grid">
    <div class="field md:col-10">
        <label for="firstname2">Nro Legajo:</label>
        <p-inputNumber [useGrouping]="false" styleClass="w-full" class="w-full" inputStyleClass="w-full" [disabled]="this.type==3" [ngModelOptions]="{standalone: true}" [(ngModel)]="this.obj.nro_legajo"> </p-inputNumber>

    </div>
    <div class="field md:col-2">
        <label for="lastname2">Estado: </label><br>
        <p-inputSwitch [disabled]="this.type==3" [(ngModel)]="this.obj.activo"></p-inputSwitch>
    </div>
</div>



  <div class="grid ">
    <div class="col">
        <label for="" style="margin-right: 10px;">Persona:</label>
        <input class="w-full" [disabled]="true" pInputText
          value="{{this.obj.persona?this.obj.persona.name:''}} {{this.obj.persona?this.obj.persona.lastname:''}}" />

    </div>
  </div>
  <app-crear-persona #modalNuevoPersona (onSave)="onSavePersona($event)"></app-crear-persona>

  <ng-template pTemplate="footer">
    <p-button *ngIf="this.type==1" (click)="guardar()" label="Guardar" icon="fa-solid fa-save"
      severity="success"></p-button>
    <p-button *ngIf="this.type==2" (click)="modificar()" label="Modificar" icon="fa-solid fa-save"
      severity="success"></p-button>
    <p-button (click)="ocultar()" label="Cancelar" icon="fa-solid fa-xmark" severity="danger"></p-button>
  </ng-template>
</p-dialog>


