/* You can add global styles to this file, and also import other style files */


:root {
  --main-color-success:rgb(0, 114, 25);
  --main-color-danger:rgb(199, 43, 43);
  --main-color-warning:rgb(209, 159, 20);
  --main-color-info:rgb(26, 65, 170);

  --main-table_header:rgb(255, 199, 46);
  --main-table_header_text_color:rgb(27, 27, 27);
  --body-general-background-color:#ffffff;
  --body-general-background-color2: #e9e9e9;
  --body-general-background-color3: #d3d3d3;
  --body-general-background-color4: #cacaca;
  --body-general-background-color-active: #727272;
  --body-general-text-color-active: #ffffff;
  --body-general-background-color-box-shadow: #686868;
  --main-modal-background:var(--body-general-background-color2);
  --main-modal-header:var(--body-general-background-color);
  --body-general-text-color:rgb(0, 0, 0);
  --main-text-label-color:#4e4e4e;
  --main-text-label-color2:#222222;
  --main-font-size:1.1rem;
}
@media (prefers-color-scheme: dark) {
  :root {
    --main-color-success:rgb(62, 255, 110);
    --main-color-danger:rgb(243, 96, 96);
    --main-color-warning:rgb(255, 199, 46);
    --main-color-info:rgb(108, 147, 255);

    --main-table_header:rgb(255, 199, 46);
    --main-table_header_text_color:rgb(27, 27, 27);
    --body-general-background-color:#02113a;
    --body-general-background-color2: #061b5f;
    --body-general-background-color3: #0a3977;
    --body-general-background-color4: #143797;
    --body-general-background-color-active: #4b95f5;
    --body-general-text-color-active: #000000;
    --body-general-background-color-box-shadow: #5d84f0;
    --main-modal-background:var(--body-general-background-color2);
    --main-modal-header:var(--body-general-background-color);
    --body-general-text-color:rgb(255, 255, 255);
    --main-text-label-color:#cccccc;
    --main-text-label-color2:#f1f1f1;
    --main-font-size:1.1rem;
  }
}
body{
  margin: 0;
  font-family: sans-serif;
  font-size: var(--main-font-size);
  color:var(--body-general-text-color) ;
  background-color: var(--body-general-background-color);
}
input[type="text"]
{
  font-size: var(--main-font-size);
}
input[type="number"]
{
  font-size: var(--main-font-size);
}
input[type="mail"]
{
  font-size: var(--main-font-size);
}

.main-modal {
  position: fixed;
  z-index: 400;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;flex-wrap: wrap;justify-content: center;
  align-items: start;
  padding-top: 10%;
    background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));

  background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));



}
.main-modal-contenedor{
  background-color: var(--main-modal-background); position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.main-modal-header{
 text-align: center;
 font-weight: bold;
 background-color:var(--main-modal-header);
 color:var(--main-text-label-color2);
 box-shadow: 2px 2px 5px var(--body-general-background-color-box-shadow);
 border-bottom: solid;
border-color: rgb(85, 85, 85);
border-width: 1px;
padding: 5px;
}

.main-modal-body{
  padding: 10px;
}
.main-modal-contenedor label{
  color:var(--main-text-label-color);
  padding: 2px;
}
.main-modal-contenedor input, select{
  border-radius: 10px;
  background-color: var(--body-general-background-color);
  border-style: solid;
  border-color: var(--body-general-text-color);
  color: var(--body-general-text-color);
  border-width: 1px;
  padding: 2px;
}
.main-modal-footer{
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;

}
.main-btn-info{
  border-radius: 5px;
  color: rgb(0, 0, 0);
  padding: 5px;
  background-color: var(--main-color-info);
  border-style: none;
  transition: all ease-out 0.1s;
}
.main-btn-info{
  border-radius: 5px;
  color: var(--main-color-info);
  padding: 5px;
  background-color: var(--body-general-background-color);
  border-color: var(--main-color-info);
  border-style: solid;
  transition: all ease-out 0.1s;
}
.main-btn-info:hover{
  cursor: pointer;
  transform: scale(1.05);
}
.main-btn-success{
  border-radius: 5px;
  color: rgb(0, 0, 0);
  padding: 5px;
  background-color: var(--main-color-success);
  border-style: none;
  transition: all ease-out 0.1s;
}
.main-btn-success{
  border-radius: 5px;
  color: var(--main-color-success);
  padding: 5px;
  border-color: var(--main-color-success);
  background-color: var(--body-general-background-color);
  border-style: solid;
  transition: all ease-out 0.1s;
}
.main-btn-success:hover{
  cursor: pointer;
  transform: scale(1.05);
}
.main-btn-warning{
  border-radius: 5px;
  color: rgb(0, 0, 0);
  padding: 5px;
  background-color: var(--main-color-warning);
  border-style: none;
  transition: all ease-out 0.1s;
}
.main-btn-warning:hover{
  cursor: pointer;
  transform: scale(1.05);
}



.main-btn-warning{
  border-radius: 5px;
  color: var(--main-color-warning);
  padding: 5px;
  background-color: var(--body-general-background-color);
  border-style: solid;
  border-color: var(--main-color-warning);
  transition: all ease-out 0.1s;
}

.main-btn-danger{
  border-radius: 5px;
  color: rgb(0, 0, 0);
  padding: 5px;
  background-color: var(--main-color-danger);
  border-style: none;
  transition: all ease-out 0.1s;
}
.main-btn-danger{
  border-radius: 5px;
  color: var(--main-color-danger);
  padding: 5px;
  background-color: var(--body-general-background-color);
  border-color: var(--main-color-danger);
  border-style: solid;
  transition: all ease-out 0.1s;
}
.main-btn-danger:hover{
  cursor: pointer;
  transform: scale(1.05);
}

.main-badge-success{
  border-radius: 5px;
  color: rgb(0, 0, 0);
  padding: 5px;
  background-color: var(--main-color-success);
  border-style: none;
  transition: all ease-out 0.1s;
}
.main-badge-danger{
  border-radius: 5px;
  color: rgb(0, 0, 0);
  padding: 5px;
  background-color: var(--main-color-danger);
  border-style: none;
  transition: all ease-out 0.1s;
}
.main-badge-warning{
  border-radius: 5px;
  color: rgb(0, 0, 0);
  padding: 2px;
  background-color: var(--main-color-warning);
  border-style: none;
  transition: all ease-out 0.1s;
}



.home-container {
  display: flex;
  flex-direction: row;
  height: 100vh; /* Ajusta la altura de la pantalla */

}
.content{

  margin: 0 auto;
  padding: 30px;

  width: 92%;
  box-shadow: 0px 4px 8px var(--body-general-background-color-box-shadow);
  margin-top: 12px;
  min-height: 85vh;
  border-radius: 10px;

}
.main-content {
flex: 1;
padding: 10px;
}

 .btn-guardar{

 }
.table_general thead{

}
.table_general td, .table_general th {
  border-bottom: 1px solid #ddd;
  padding: 8px;
}

.table_general th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--main-table_header);
  color: var(--main-table_header_text_color);
  font-weight: bold;
}
.table_general td {



}
.table_general {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.table_general tr{background-color: var(--body-general-background-color3);}
.table_general tr:nth-child(even){background-color: var(--body-general-background-color2);}

.table_general tr:hover {background-color: var(--body-general-background-color4);}
.table_general .td_acciones{
  display:flex;
  grid-gap: 5px;
}
